html {
 -webkit-box-sizing: border-box;
  box-sizing: border-box;  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkout"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
  /* my header start */
.page-header {
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/background.png);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/background.png);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/background.png);
}
.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
} 
.site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 26px;
    text-decoration: none;
} 
/* Style for "MoGo" */
.picture-logo {
    margin: 0;
    width: 86px;
    height: 23px;
    color:#ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    list-style: none;
    justify-content: space-between;
    width: 620px;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    text-transform: uppercase;
}
.site-navigation__link  {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 14px;
    font-weight: 400px;
    padding: 10px 0;
    fill: #ffffff;
} 
.site-navigation__link--hover:hover {
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
    fill: #fce38a; 
} 
.site-navigation__list-icon {
 fill: #ffffff; 
 color: #ffffff; 
}
  /* my header end*/
.title {
    width: 840px;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
}
.little-title {
    color: #ffffff;
    font-family: 'Kaushan Script', 'Arial', sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
    margin-top: 180px; 
}
.button1 {
    margin: 0;
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 124px;
    scroll-margin-bottom: 230px;
}
/* my service-section start*/
.service__title1 {
    margin-top: 100px;
    padding: 0;
}
.service__title1 {
   /* Style for "We work wi" */
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
    text-align: center;
    margin-top: 46px;
}
.service__title2 {
    margin: 0;
    padding: 0;
  /* Style for "Amazing Service" */
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
}
.service__title2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 40px;
}
.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    flex-wrap: wrap;
    list-style: none;
}
.service-list-item {
    width: 334px;
    position: relative;
    padding-left: 80px;
    margin: 30px 20px 20px 0; 
    padding-bottom: 0;

}
.service-list-item:nth-child(3n) {
    margin-right: 0;
}
.service-list__list-title {
    margin-top: 0;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.service-list__list-text {
  /* Style for "Ipsum dolo" */
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 92px;
}
.services-icon {
    position: absolute;
    fill: #95e1d3;
    top: 0;
    left: 0;
    transform: translateX(50%);
}
.team-icons__link{
    fill: #95e1d3;  
}
  /* service-section end */
  /* section-team start*/
.team {
    padding: 0;
    margin-bottom: 78px;
}
.team__title1 {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
    text-align: center;
}
.team__title2 {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 42px;
}
.team__title2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 40px;
}
.team__text {
      /* Style for "Lorem ipsu" */
   color: #999999;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   width: 980px;
   margin: 0;
   padding: 0;
   text-align: center;
   padding-left: 130px;
   margin-bottom: 92px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.team-icons {
   position: absolute;
   display: -webkit-box;
  display: -ms-flexbox;
   display: flex;
   list-style: none;
   padding: 0;
   width: 224px;
   height: 56px;
   background-color: #fce38a;
   cursor: pointer;
   top: 35%;
   margin-left: 70px;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   transition: 0.2s linear;
   opacity: 0;
   z-index:3;
  }
.member-img:hover.team-icons {
  opacity: 1;
  }
.team-icons__internet {
   width: 56px;
   height: 56px;
   background-repeat: no-repeat;
   background-position: center;
   border-right: 1px solid #f38181;
   transition: 0.2s linear;
   z-index: 2;
   fill:#f38181;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-top: 15px;
}
.team-icons__internet:hover {   
   background-color: #f38181; 
   fill:#ffffff;
   opacity: 1;
}
.member-img:hover {
   transform: translate(-10px,-10px);
}
.team-img {
   display: block;
   object-fit: cover;
   transition: 200ms linear,
   transform 200ms linear;
}
.member-img {
   position: relative;
   width: 380px;
   height: 470px;
   transform: translate(0, 0);
   transition: 0.2s linear;
}
.member-img::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   width: 380px;
   height: 470px;
   background: linear-gradient(
   to bottom,
       rgba(238, 137, 138, 0.9),
       rgba(238, 215, 136, 0.9));
   z-index: 1;
   opacity: 0;
}
.team__list-member:hover .member-img::before{
      opacity: 1;
}
.team__list-member:hover .team-icons {
      opacity: 1;
}
.team__list-member::after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   z-index: -1;
   width: 380px;
   height: 470px;
   background-color: #95e1d3;
   transition: 0.2s linear;
} 
.team-list__member-name {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   color: #333333;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 400;
   margin-top: 30px;
}
.team-list__prof {
   margin: 0;
   padding: 0;
   text-align: center;
   font-weight: 300;
   font-style: italic;
   color: #999999;
   line-height: 24px;
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
}
  /* footer */
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    border-top: #e5e5e5 solid 1px;
    min-height: 61px;
    padding: 12px 0;
    align-items: center;
    margin-top: 82px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.footer__info {
    margin: 0;
    color: #333333;
    font-family:"Montserrat";
    font-size: 14px;
    font-weight: 400;
}
.footer__info a {
    text-decoration: none;
    color: #f38181;
}
.input__forma {
    display: flex;  
}
.input__area {
   width: 230px;
   height: 40px;
   border: #e5e5e5 solid 1px;
   padding: 14px 12px; 
   font-family: 'Roboto', sans-serif;
   font-style: italic;
}
.input__button {
   height: 40px;
   width: 150px;
   border: none;
   background-color: #95e1d3;
   color: #ffffff;
   padding: 12px 30px;
   font-family: 'Monserrat',sans-serif;
   font-size: 14px;
   font-weight: 700;
}
@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page-header {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/background@2x.png);
        background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/background@2x.png);
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/background@2x.png);
    }
}
  