.service__title1  {
  @include font-settings (24px , 400);
  font-family: 'Kaushan Script', 'Arial', sans-serif;
  line-height: 24px;
  text-align: center;
  margin: 44px 0 22px 0;
  color: $secondary-dark-color;
} 

.service__title2 {
  @include font-settings (30px, 700);
  font-family: $main-font-stack;
  line-height: 30px;
  text-align: center;
  margin: 0;
  color: $secondary-dark-color;
  margin-bottom: 65px;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 42px auto 0;
    margin-bottom: 56px;
  }
}

.service__title2 {
  margin: 0;
  padding: 0;
}
 