html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Playfair Display", "Arial", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
/* header */
.conteiner {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;   
    font-size: 0;
}
img {
    display:block;
    width: 100%;
    height: auto
}
.site-navigation {
    margin: 0;
    padding: 77px 0 103px 0;
    font-size: 14px;
    width: 100%;
    list-style: none;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.site-navigation li {
  display: inline-block;
  margin-right: 77px;
}
.site-navigation li :not(:last-child)
{
    margin-right: 77px;
}
.site-navigation a {
    display: block;
    padding:0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
  }
  .site-navigation a:hover,
  .site-navigation a:focus {
    color: #03a9f4;
  }
  /* header end */
  /* my main */
  /* features */
 .features {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    margin-left:0;
  }
.part {
    margin-bottom: 128px;
    width: 420px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    margin-right: 60px;
    vertical-align:top;
    margin-left: 0;
}
.part:nth-child(2n) {
  margin:0px;
 }
.little {
    width: 63px;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-top: 31px;
  }
.title {
    width: 407px;
    font-family: PlayfairDisplay;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #626262;
    text-transform:normal;
    margin-top: 26px;
    line-height: 36px;
  }
.text {
    width: 414px;
    font-family: PlayfairDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    margin-top: 26px;
    color: #626262;
  }
/* button */
.loadmore {
  border: 0;
  margin: 0;
  padding: 20px 34px 21px 34px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Playfair Display", "Arial", sans-serif;
  color: #626262;
  cursor: pointer;
  border: 2px solid #626262;
  background-color: #ffffff;
}

.button_div {
  margin-left: 358px;
  margin-bottom: 70px;
  margin-top: 54px;
}
.loadmore:hover,
.loadmore:focus {
    color: #03a9f4;
    border: 2px solid #03a9f4;
}