html {
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
  display: block;
   font-family: 'OpenSans' sans-serif;
   font-size: 18px;
   line-height: 26px;
}
.container {
   width: 1110px;
   margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.basic {
  background-color: #eaf0fd
}
  /* My header*/
.page-header {
    margin-top: 38px;
    margin-bottom: 38px;
}
/* site navigation */
.site-logo {
    display: inline-block;
    vertical-align: middle;
  }
.site-navigation {
   float: right;
   margin:0;
   padding:0;
   text-align: middle;
   list-style: none;
}
.site-navigation li {
  float:left;
}
.site-navigation li:not(:last-child) {
  margin-right: 36px;
}
.site-navigation a {
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 111px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
/* site navigation the end*/
/* slider */
.slider {
  margin:0 auto;
  min-height: 600px;
  position: relative;
}
.slider::before {
 position: absolute;
 content: "";
 display: block;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
 background-size: cover;
background-position: center;
background-image: url(../img/img1.png);
 z-index: 0;
 top: 0;
 left: 0;
}
.slider::after {
 position: absolute;
 content: "";
 display: block;
 width: 100%;
 height: 100%;
 background: rgb(0, 0,2,0.52);
 z-index: 0;
 top: 0;
 left: 0;
}

.slider--inner {
position: relative;
padding: 200px 0px; 
margin: 0 px;
z-index: 1;
}
.slider-ctrl {
  display: inline-block;
  position: absolute;
  width: 104px;
  height: 104px;
  padding: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  top: 56%;
  transform: translateY(-50%);
  border: none;
  background-color: #54a08e;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.65;
}
.slider-ctrl:hover {
  opacity: 1;
}
.slider-ctrl-prev {
  left: 90px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/prev.png);
  background-position: center;
  z-index: 1;
}
.slider-ctrl-next {
  right: 90px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/next.png);
  background-position: center;
  z-index: 1;
}
.slider-title {
  margin: 0;
  padding: 0;
  /* Style for "AFFORDABLE" */
  line-height: 82px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  transform: translate(30%);
}
.slider-text {
/* Text style for "PARIS TOUR" */
   padding: 0;
   margin: 0;
   font-family: "Roboto", sans-serif;
   font-size: 24px;
   line-height: 54px;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: -0.48px;
   color: #ffffff;
   transform: translate(30%);
  }
  /* slider end */
/* new collection */
.new-collection-title {
  /* Style for "NEW COLLEC" */
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 58x;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}
.new-collection-title::after{
  content: "";
  display: block;
  margin: 0 auto;
  height: 6px;
  margin:24px auto 0px;
  width: 166px;
  background-color: #1abc9c;
  margin-bottom: 25px;
  margin-top: 36px;
}
.new-collection {
  width: 1110px;
  margin: 0 auto;
}
.new-collection-list {
  padding: 0;
  margin: 0;
  padding: 0;
  margin-top: 0;
  list-style: none;
}
.new-collection-picture {
  position: relative;
  float: left;
  width: 255px;
  height: 0 auto;
  margin-bottom: 130px;
}
.new-collection-picture:not(:nth-child(4n+4)) {
  margin-right: 30px;
}
.collection-name {
  position: absolute;
  display: block;
  float: left;
  padding: 6px,14px;
  margin-top:  0;
  padding: 6px 14 px;
  padding-left: 10px;
  padding-top: 5px;
  width: 204px;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.collection-price {
  position: absolute;
  right: 0;
  margin: 0;
  margin-top: 0;
  padding: 5px 12 px;
  float: left;
  width:52px;
  height: 40px;
  padding:6px 12px;
  background-color: #8c8c8c;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
.new-collection-picture:hover .collection-name {
  background-color: #1abc9c;
}
.new-collection-picture:hover .collection-price {
  background-color:#7fd9c7;
}
.new-collection-button {
  position: absolute;
  top: 8px;
  left: 10px;
  margin-bottom: 10px;
  opacity: 0;
  background-color: rgba (0, 0, 0, 0.6);
  width: 235px;
  height: 235px;
  border: 1px solid #ffffff;
  transition: 0.3s;
}
.new-collection-picture:hover .new-collection-button {
  opacity:1;
  background-color: rgb(0, 0,2,0.52);
}
.button-heart {
  background-image: url(../img/icons/heart.png);
  margin-top: 80px;
  margin-left: 35px;
  width:50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  border-color: #ffffff;
  cursor: pointer;
  transition:0.3s;
}
.button-heart:hover  {
  opacity: 1;    
  background-color:#1abc9c; 
  border: 1px solid #1abc9c;
}
.button-double-line {
  background-image: url(../img/icons/double-line.png);
  margin-top: 80px;
  width:50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  border-color: #ffffff;
  cursor: pointer;
  transition:0.3s;
}
.button-double-line:hover {
  opacity: 1;  
  background-color:#1abc9c;
  border: 1px solid #1abc9c;
  }
.button-clock {
  background-image:url(../img/icons/clock.png); 
  width:50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  border-color: #ffffff;
  cursor: pointer;
  transition:0.3s;
}
.button-clock:hover  {
  opacity: 1;  
  background-color:#1abc9c;
  border: 1px solid #1abc9c;
  }
.button-cart {
 background-image:url(../img/icons/cart.png); 
 width:160px;
 height: 50px;
 background-color: #323232;
 background-repeat: no-repeat;
 background-position: 10px;
 border: solid 1px;
 font-size: 14px;
 text-transform: uppercase; 
 margin-left: 35px;
 color:#ffffff;
 border-color: #ffffff;
 padding-left: 30px;
 vertical-align: middle;
 transition:0.3s;
}
.button-cart:hover  {
  opacity: 1;    
  background-color:#1abc9c; 
  border: 1px solid #1abc9c;
}
.footer {
  margin: 0 auto;
  background-color: #323232;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 27px;
  height: 88px;
  width: 100%;
}
.information {
  /* Style for "All Rights" */
  margin: 0;
  display: inline-block;
  height: 28px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fefefe;
  text-transform: capitalize;
}
a {
  text-decoration: none;
/* Text style for "ThemenGrap" */
color: #46bfa9;
}

