html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* my header start */
.page-header {
  min-height: 80px;
}   
.page-nav {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
} 
.site-logo {
  display: flex;
  margin: 0;
  padding: 26px;
  text-decoration: none;
} 
/* Style for "MoGo" */
.picture-logo {
  margin: 0;
  width: 86px;
  height: 23px;
  color: #95e1d3; 
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.site-navigation {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  width: 490px;
  align-items: center;
  text-transform: uppercase;
}
.site-navigation a {
  text-decoration: none; 
  color: #95e1d3; 
  font-size: 14px;
  font-weight: 400px;
  padding: 10px 0;
} 
.site-navigation a:hover {
  border-bottom: 3px solid #f38181;
  color: #f38181;
} 
/* my header end*/
/* my service-section start*/
.service {
  margin-top: 100px;
  padding: 0;
}
.service-title1 {
 /* Style for "We work wi" */
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  text-align: center;
}
.service-title2 {
  margin: 0;
  padding: 0;
/* Style for "Amazing Service" */
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 64px;
}
.service-title2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-top: 40px;
}
.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.list-title {
  margin-top: 0;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.list-text {
/* Style for "Ipsum dolo" */
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 92px;
}
.service-icon {
  flex-basis: 381px;
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
  padding-left: 70px;
}
.photography {
  background-image: url(../img/icons/clock.png);
}
.web-design {
  background-image: url(../img/icons/design.png);   
}
.creativity {
  background-image: url(../img/icons/creativity.png);     
}
.seo {
  background-image: url(../img/icons/book.png);    
}
.css-html {
  background-image: url(../img/icons/house.png);    
}
.digital {
  background-image: url(../img/icons/digital.png);      
}
/* service-section end */
/* section-team start*/
.team {
  padding: 0;
  margin-bottom: 78px;
}
.team-title1 {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  text-align: center;
}
.team-title2 {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
}
.team-title2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-top: 40px;
}
.team-text {
    /* Style for "Lorem ipsu" */
color: #999999;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
width: 980px;
margin: 0;
padding: 0;
text-align: center;
padding-left: 130px;
margin-bottom: 92px;
}
.team-list {
 display: flex;
 justify-content: space-between;
 list-style: none;
 margin: 0;
 padding: 0;
 position: relative;
}
.member-img:hover {
 opacity: 1;
}
.team-icons {
 position: absolute;
 display: flex;
 list-style: none;
 padding: 0;
 width: 224px;
 height: 56px;
 background-color: #fce38a;
 cursor: pointer;
 top: 35%;
 margin-left: 70px;
 justify-content: space-between;
 transition: 0.2s linear;
 z-index: 4;
}
.internet {
 width: 56px;
 height: 56px;
 background-repeat: no-repeat;
 background-position: center;
 border-right: 1px solid #f38181;
 transition: 0.2s linear;
 z-index: 2;
}
.facebook {
 background-image: url(../img/icons/facebook.png);
}
.twitter {
 background-image: url(../img/icons/twitter.png);
}
.pinterest {
 background-image: url(../img/icons/pinterest.png);
}
.instagram {
 background-image: url(../img/icons/instagram.png);
 border-right:none;
}
.internet:hover  {   
 background-color:#95e1d3; 
 border: 1px solid #95e1d3;
 opacity: 1;
}
.member-img:hover {
 transform: translate(-10px,-10px);
}
.member-img::before{
 content: "";
 display: block;
 position: absolute;
 top: 0;
 width: 380px;
 height: 470px;
 background: linear-gradient(
 to bottom,
      rgba(238, 137, 138, 0.9),
      rgba(238, 215, 136, 0.9));
 transition: 0.2s linear;
}
.team-list-member::after {
 content: "";
 display: block;
 position: absolute;
 top: 0;
 z-index: -1;
 width: 380px;
 height: 470px;
 background-color: #95e1d3;
 transition: 0.2s linear;
}
.team-list-member-name {
 margin: 0;
 padding: 0;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 color: #333333;
 text-transform: uppercase;
 font-size: 14px;
 font-weight: 400;
 margin-top: 30px;
}
.team-list-prof {
 margin: 0;
 padding: 0;
 text-align: center;
 font-weight: 300;
 font-style: italic;
 color: #999999;
 line-height: 24px;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
}
/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  border-top: #e5e5e5 solid 1px;
  min-height: 61px;
  padding: 12px 0;
  align-items: center;
  margin-top: 82px;
}
.footer-info {
  margin: 0;
  color: #333333;
  font-family:"Montserrat";
  font-size: 14px;
  font-weight: 400;
}
.footer-info a {
  text-decoration: none;
  color: #f38181;
}
.input_forma {
  display: flex;
  
}
.input-area {
 width: 230px;
 height: 40px;
 border: #e5e5e5 solid 1px;
 padding: 14px 12px; 
 font-family: 'Roboto', sans-serif;
 font-style: italic;
}
.input-button {
 height: 40px;
 width: 150px;
 border: none;
 background-color: #95e1d3;
 color: #ffffff;
 padding: 12px 30px;
 font-family: 'Monserrat';
 font-size: 14px;
 font-weight: 700;
 cursor: pointer;
}
