@import "fonts.css";
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.15;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
 margin: 0 auto;
 width: 284px;
 border: 1px solid transparent;
 padding: 0 15px;
}
.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.page-header {
  background-image: url(../img/background.png);
  min-height: 540px;
  margin: 0;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  background-size: cover;
  background-position: top center;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0 auto;
}
.navigation-variation{
 padding: 0;
 border: 2px solid rgba(255, 255, 255, 0);
 transition: 0.3s;
}
.site-navigation {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 list-style: none;
 padding: 0;
 text-align: center;
 margin: 0 auto;
 text-align: center;
}
.navigation-variation a {
  display: inline-block;
  width: 90px;
  height: 36px;
  font-family: 'Monserat', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 0;
  text-decoration: none;
  text-align: center;
}
.navigation-variation{
  border-radius: 100px 100px 100px 100px;
  border: 2px solid transparent;
  padding: 10px 18px;
}
.navigation-variation:hover{
  border-color: #ffffff;
  transition: 0.3s
} 
.site-logo {
/* Style for "URLAUBSGLÜ" */
  display:inline-block;
  margin-left: auto;
  margin-right: auto;  
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; 
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  margin-top: 115px;
  order: 2;
}
.title {
  text-align: center;
  color: #ffffff;
  font-family: 'Monserat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.text {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 20px;
}
.header-button {
 /* Style for "Rectangle" */
  width: 225px;
  height: 40px;
  background-color: #ff4e50;
  margin-top: 20px;
  border-radius: 100px 100px 100px 100px;
  color: #ffffff;
  font-family: 'Monserat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: transparent;
  text-decoration: none;
}
.partners-title {
  text-align: center;
  font-family: 'Monserat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  margin-top: 73px;
}
.team-list{
  list-style: none;
  margin:0;
  padding: 0;
}
.list-name {
  position: relative; 
}
.list-name::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 35%;
  right: 22% ;
}
.icon1::after {
 background-color: #ff4e50;
 background-image: url(../img/icons/icon1.png);
}
.icon2::after {
 background-color: #ffa507;
 background-image: url(../img/icons/icon2.png);
 
}
.icon3::after {
  background-image: url(../img/icons/icon3.png);
  background-color:  #1cd7ad;
}
.icon4::after {
  background-color: #4e73db;
  background-image: url(../img/icons/icon4.png);
}
.contact-title {
 color: #333333;
 font-size: 14px;
 font-weight: 700;
 text-align: center;
 font-family: 'Monserat', sans-serif;
 text-transform: capitalize;
 margin-top: 20px;
}
.contact-information {
  font-family: 'Roboto', sans-serif;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto 28px;
  text-align: center;
  margin-top: 9px;
  width: 218px;
}
.contact-picture {
 margin: auto;
 width: 120px;
}
.contact-button {
  width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  color: #ff4e50;
  font-family: 'Monserat',sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .page-header {
    height: 700px;
     background-size: cover;
   }
  .container {
    width: 660px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .site-logo { 
    margin: 38px 0 0 0;
    justify-items: center;
    padding: 8px 0;
    order: unset;
  }
  .site-navigation {
    margin: 38px;
    padding:0;
    margin-bottom: 160px;
  }
  .navigation-variation {
    margin: 0;
    padding: 8px 0;
  }
  .title {
    margin-top: 160px;
    font-size: 52px;
    width: 504px;
    margin: 0 auto;
    margin-top:40px;
   }
  .text {
    font-size: 24px;
    margin-top: 30px;
  }
  .header-button {
    margin-top: 35px;
    width: 224px;
    margin-bottom: 234px;
   }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 492px;
    margin: 0 auto 38px;
  }
  .contact-button {
    margin-bottom: 40px;
    width: 192px;
  }
@media (min-width: 1440px) {
  .container {
    width: 940px;
    padding: 0;
  }
  .team-list {
   width: 940px;
  }
  }
